*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
}
body{
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: #85c4eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow-x: hidden;
} 
.fa-bell{
    font-size: 15rem;
    background:linear-gradient(rgb(252, 39, 191),rgb(42, 18, 18));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.bell-notification{
    color: #fff;
    position: relative;
    font-size: 2.2rem;
    transition: 0.5s ease-in-out;
    animation: bell 1s linear infinite alternate-reverse;
    transform-origin: top;
}
@keyframes bell{
    0%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(20deg);
    }
}
.bell-notification::before{
    content: attr(current-number-count-down);
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0px;
    right: -10%;
    border-radius: 50%;
    background-color: #f00;
    border: 10px solid #85c4eb;
    display: flex;
    justify-content: center;
    align-items: center;
}