*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

body {
    display: grid;
    place-items: center;
    line-height: 1;
    font-family: 'Roboto Condensed', sans-serif;
    background: antiquewhite;
}

.center-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.center-div ul {
    display: flex;
}

.center-div ul li {
    list-style: none;
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    /* background: #11BAF2; */
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 1px 2px 2px 2px #0C9CCC; */
    border: 2px solid #1172f2;
}

.center-div ul li::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    background: #1172f2;
    transition:0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
}
.center-div ul li:hover::before {
    transform: scale(0.7);
    opacity: 1;
}
.center-div ul li:hover i {
    color: #fff;
}
.center-div ul li i {
    color: #1172f2;
}

.center-div ul li::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    /* background: #1172f2; */
    border: 2px dashed #1172f2;
    transition:0.5s ease-in-out;
    opacity: 0;
    z-index: -1;
}
.center-div ul li:hover::after {
    animation: rotates 11s linear infinite alternate-reverse;
    opacity: 1;
}


@keyframes rotates {
    0% {
      transform: scale(0.85) rotate(0deg);
    }

    100% {
        transform: scale(0.85) rotate(360deg);
    }
}