*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

body {
    display: grid;
    place-items: center;
    line-height: 1;
    background: rgb(235, 212, 184);
}

.main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    align-items: center;
}

.text-effect {
    width: calc(100vw - 40vw);
    height: calc(100vh - 45vw);
    /* margin-bottom: 40px; */
}

.text-effect h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 5.2rem;
    background: rgb(4, 57, 11);
    background: linear-gradient(90deg, rgba(4, 57, 11, 1) 0%, rgba(151, 19, 35, 1) 24%, rgba(20, 39, 182, 1) 50%, rgba(200, 31, 46, 1) 72%, rgba(43, 208, 92, 1) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 0px 1px 5px #0007;
}

.image-back-effect {
    width: calc(100vw - 40vw);
    height: calc(100vh - 45vw);
}

.image-back-effect h1 {
    font-weight: 900;
    font-size: 5rem;
    line-height: 5.2rem;
    color: transparent;
    background: url("../images/fountain.jpg");
    background-size: 100% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -o-background-clip: text;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.capital{
    width:100vw;
    height:100vh;
    background: transparent;
    padding: 20px;
    display: flex;
}
.capital .sierra-image{
    width: 50%;
    height: auto;
}
.capital .sierra-image img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.capital .sierra-content{
    padding: 20px;
    width: 50%;
    height: auto;
}
.capital .sierra-content h1{
    color: #f00;
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.1rem;
    letter-spacing: 2px;
    text-align: center;
    /* border-bottom: 1px dashed #158dea;
    padding: 0px 0px 10px; */
    text-transform: uppercase;
    position: relative;
}
.capital .sierra-content h1::before{
    content: '';
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translateX(-50%);
    width:50%;
    height:5px;
    background: #ff00f2;
}
.capital .sierra-content h1::after{
    content: '\f005';
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    width:50%;
    height:5px;
    background: #ff00f2;
}

.sierra-content h1::selection{
    background: #083d04;
    color: #ffd9d9;
}
.capital .sierra-content p{
    color: #0f0636;
    padding-top: 20px;
    font-size: 15px;
    line-height: 20px;
}
::selection{
    background: #0c304d;
    color: #fff8c3;
    outline: none;
    cursor: pointer;
}
.sierra-content p::first-letter{
    color: #083d04;
    font-size: 8rem;
    float: left;
    display: block;
    margin: 0px 15px 0px 0px;
    line-height: 1.5;
    font-weight: bold;
}
.sierra-content p::first-line{
    color: #000;
    font-weight: bold;
}