*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

body {
    background-color: rgb(82, 146, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    line-height: 1;
    font-family: 'Roboto', sans-serif;
}
.center-div{
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
.outer-ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border-top: 8px solid rgb(190, 179, 179);
    border-bottom: 8px solid rgb(190, 179, 179);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    animation: rotation 1s linear infinite;
    transition:0.5s ease-in-out;
}
.middle-ring {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    border-top: 8px solid #fff;
    border-bottom: 8px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    animation: rotation 1s linear infinite alternate-reverse;
    transition:0.5s ease-in-out;
}
.inner-ring {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border-top: 8px solid rgb(190, 179, 179);
    border-bottom: 8px solid rgb(190, 179, 179);
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    animation: rotation 1s linear infinite;
    transition:0.5s ease-in-out;
}
.dot {
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color: #072c03;
    animation: rotation 2s linear infinite;
}
@keyframes rotation {
    0%{
        transform: rotate(0deg) scale(0.5);
    }
    100%{
        transform: rotate(360deg) scale(1.2);
    }
}