*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

html {
    font-size: 62.5%;
    letter-spacing: 1px;
}

body {
    display: grid;
    place-items: center;
    line-height: 1;
    background: rgb(235, 212, 184);
}

.main-div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-div {
    width: 400px;
    height: 500px;
    box-shadow: 2px 2px 13px 0px #3b473b70, 1px 3px 10.53px -0.12rem #434b4d50, 0px 0px 20px 0px #4f464f30;
    position: relative;
    cursor: pointer;
}
.center-div > *, .blend-mode > * {
    position: absolute;
    width:400px;
    height:500px;
    object-fit: cover;
    /* filter: drop-shadow(1px 1px 5px #0005); */
}
#rotate-border {
    border: 22px solid #105768;
    position: absolute;
    transform: rotate(45deg);
    box-shadow: 0px 0px 10px #105768, inset 0px 0px 15px #105768;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.data-white {
    background: #fff;
}
.blend-mode {
    mix-blend-mode: multiply;
}
.center-div > img {
    box-shadow:1px 1px 5px #0005 ;
}