@font-face{
    font-family:"'Roboto', sans-serif" ;
    src: url("../fonts/roboto/Roboto-Black.ttf") format("truetype");
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
}
h1 h2 h3 h4 h5 h6 p span {
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: auto;
}
.btn{
    padding: 10px 20px;
    background-color: #158dea;
}
:root{
--roboto-black:"'Roboto', sans-serif";

}
